@media all and (max-width: 849px) {
    .main {
        margin-top: 15%;
    }

    .main_innerDiv {
        font-size: 1.3em;
    }

    .main_text {
        font-size: 0.8em;
    }

    .main_header {
        font-size: 1.3em;
    }

    .main_div {
        width: 60%;
        margin-bottom: 8%;
    }

    .main_header {
        margin-bottom: 10%;
    }
}
@media all and (min-width: 850px) {
    .main {
        margin-top: 10%;
    }

    .main_innerDiv {
        font-size: 1.6em;
    }

    .main_text {
        font-size: 1.1em;
    }
    
    .main_header {
        font-size: 2em;
    }

    .main_div {
        width: 50%;
        margin-bottom: 5%;
    }

    .main_header {
        margin-bottom: 5%;
    }
}
@media all and (min-width: 1500px) {
    .main {
        margin-top: 10%;
    }

    .main_innerDiv {
        font-size: 2.4em;
    }

    .main_text {
        font-size: 1.6em;
    }

    .main_header {
        font-size: 2.5em;
    }

    .main_div {
        width: 40%;
        margin-bottom: 5%;
    }
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_div {
    display: flex;
    flex-direction: column;
}

.main_innerDiv:hover {
    cursor: pointer;
}

.main_innerDiv {
    border: 7px solid rgba(75, 99, 133, 0.262);
    border-radius: 0.8em;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    color: rgba(253, 253, 253, 0.632);
    background-color: rgb(31, 41, 55);;
}

.main_innerDiv:hover {
    background-color: rgba(75, 99, 133, 0.162);
}

.main_innerDiv_button {
    border: 7px dotted rgba(75, 99, 133, 0.262);
}

.main_innerDiv_input:hover {
    cursor: text;
}

.main_text {
    text-align: center;
    color: rgba(253, 253, 253, 0.632);
}

.main_link {
    text-decoration: none;
    color: rgba(253, 253, 253, 0.632);
}

.main_link:hover {
    color: rgba(253, 253, 253, 0.632);
}

.main_passwordError, .main_usernameError {
    color: darkred;
    display: none;
}

.main_header {
    color : rgba(253, 253, 253, 0.632);
}

