@media all and (max-width: 849px) {
    
    .header_img {
        width: 50px;
    }

    .header_h1 {
        font-size: 1.7em;
    }

    .header_button {
        width: 50% ;
        height: 2.2em ;
    }

    .header_log {
        font-size: 1em;
    }

    .header_container_left {
        justify-content: left;
    }

    .header_container_right {
        justify-content: right;
    }

    .header_profile {
        line-height: 35px;
    }
}

@media all and (min-width: 850px) {
    .header_img {
        width: 70px;
    }

    .header_h1 {
        font-size: 2.2em;
    }

    .header_button {
        width: 60% ;
        height: 2.7em ;
    }

    .header_log {
        font-size: 1.4em;
    }

    .header_container_left {
        justify-content: left;
    }

    .header_container_right {
        justify-content: right;
    }

    .header_profile {
        line-height: 45px;
    }
}

@media all and (min-width: 1500px) {
    .header_img {
        width: 90px;
    }

    .header_h1 {
        font-size: 2.7em;
    }

    .header_button {
        width: 65% ;
        height: 4em ;
    }

    .header_log {
        font-size: 1.7em;
    }

    .header_container_left {
        justify-content: center;
    }

    .header_container_right {
        justify-content: center;
    }

    .header_profile {
        line-height: 65px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3%;
}

.header_container_left, .header_container_mid, .header_container_right {
    width: 33%;
    display: flex;
    align-items: center;
}

.header_container_mid {
    justify-content: center;
}

.header_h1 {
    color: rgba(253, 253, 253, 0.632);
}

.header_button {
    background-color: rgba(75, 99, 133, 0.262);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8em;
}

.header_log {
    color: rgba(253, 253, 253, 0.632);
}

.header_h1:hover, .header_button:hover, .header_img:hover {
    cursor: pointer;
}

.header_profile {
    margin-left: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
    width: 20%;
    display: flex;
    text-align: center;
    vertical-align: middle;
}


.header_button:hover, .header_profile:hover {
    background-color: rgba(75, 99, 133, 0.162);
}

.header_h1:hover {
    color: rgba(253, 253, 253, 0.232)
}